.nav {
  width: 100%;
  padding-top: 1.6em;
  padding-bottom: 2em;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
  }

  i {
    display: inline-block;
    margin-right: 1.5em;
    color: #000;
  }

  &-list {
    display: flex;

    &-item {
      margin-right: 2.6em;
      color: #000;
      font-size: 0.9rem;

      transition: all 0.5s;

      &:hover {
        color: $primary;
      }
    }
  }
  .logo-text {
    color: $primary;
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 0;
  }
}
